{% extends "base.html" %}
{% block tilte %}To do list{% endblock %}
{% block content%}
    <div class="container" style="text-align:center;margin-top: 30px;" >
        <h1>{{name}}'s To do list</h1>
    </div>
    <div class="container" style="background-color:rgb(121, 115, 202);width:400px;height:350px;text-align:center;border-radius:10px;margin:0 auto;margin-top: 5px;">
        <div class="container" style="padding-top:20px; margin-bottom:20px;">
            <h1></h1>
        </div>
        <p>
            <form action="#" method="POST">
                <p><input type="text" name="tnm" placeholder=" To do Name" required/></p>
                <p><input type="text" name="cont" placeholder=" Content" required/></p>
                <p><input type="date" name="date"/></p>
                <p><input type="time" name="time"/></p>
                <p><input type="submit" name="send" value="add" style="color:white; background-color:rgb(211, 90, 86);width:100%;"/></p>
                <!-- <p><input type="submit" value="send_email"/></p> -->
                <!-- <p><input type="checkbox"><label>Remind me before 30 mins</label></p> -->
            </form>
        </p>
    </div>
{% endblock %}