{% extends "base.html" %}
{% block tilte %}Login Page{% endblock %}
{% block content%}
<div class="container" style="text-align:center;margin-top: 30px;" >
    <h1><img src="./static/list.png" style="border:0;width:40px;height:40px;"> TIME TO DO</h1>
</div>
<div class="container" style="background-color:rgb(121, 115, 202);width:400px;height:520px;text-align:center;border-radius:10px;margin:0 auto;margin-top: 5px;">
    <div class="container" style="padding-top:20px; margin-bottom:20px;">
        <h1>Sign up</h1>
    </div>
    <div>
        <form action="#" method="post">
            <p><input type="text" name="id" placeholder=" User ID" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"  required/></p>
            <p><input type="text" name="nm" placeholder=" Name"  required/></p>
            <p><input type="email" name="email" placeholder=" Email"  required/></p>
            <p><input type="password" name="pw" placeholder=" Password"  required/></p>
            <p><input type="password" name="confirmpw" placeholder=" Enter Passsword Again"  required/></p>
            <p style="margin-top: 20%;"><input type="submit" value="sign up" style="color:rgb(211, 90, 86); background-color:white;width:100%;"/></p>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <a style="color:white;">{{msg}}</a>
                {% endfor %}
            {% endif %}
        {% endwith%}
    </div>
</div>    
{% endblock %}